body {
    font-family: Questrial, Arial, sans-serif;
}

:root {
    --main-color: black;
    --accent: white;
    --text-color: white;
}

main {
    background: var(--main-color);
}

main, a {
    color: var(--text-color);
}

.menu-button {
    background: var(--main-color);
    border: 1px solid var(--accent);
}

.menu-button div {
    background-color: var(--accent);
}

nav#narrow .menu, nav#narrow .menu a {
    color: var(--text-color);
    background-color: var(--main-color);
}

nav#wide a {
    color: var(--main-color);
}

nav .active {
    font-weight: bold;
}

