<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{.Title}}</title>

    <link rel="stylesheet" href='{{ "abcjs-audio.css" | relURL }}'/>
    <style>
        .highlight {
            fill: #0a9ecc;
        }
    </style>
    <script src='{{ "abcjs-basic.js" | relURL }}' type="text/javascript"></script>
    <script type="text/javascript">
        const abc = "T: {{.Title}}\n" + {{.Param "notes"}};
        
        function render() {
            // First draw the music - this supplies an object that has a lot of information about how to create the synth.
            // NOTE: If you want just the sound without showing the music, use "*" instead of "paper" in the renderAbc call.
            const visualObj = ABCJS.renderAbc("paper", abc, {
                responsive: "resize",
                staffwidth: window.innerWidth,
                oneSvgPerLine: true,
                wrap: {
                    minSpacing: 0.5,
                    maxSpacing: 20,
                    preferredMeasuresPerLine: 10
                }
            })[0];

            const cursorControl = {
                onEvent: function (event) {
                    for (const element of document.querySelectorAll("#paper .highlight")) {
                        element.classList.remove("highlight");
                    }
                    
                    for (const note of event.elements) {
                        for (const element of note) {
                            element.classList.add("highlight");
                        }
                    }
                }
            };

            const synthControl = new ABCJS.synth.SynthController();
            synthControl.load("#audio", cursorControl, {
                displayRestart: true,
                displayPlay: true,
                displayProgress: true
            });
            synthControl.setTune(visualObj, false);
        }
    </script>
</head>
<body onload="render()" onresize="render()">
<main>
    <div id="audio"></div>
    <div id="paper"></div>
</main>
</body>
</html>
